body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

.chat-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.sent {
    background-color: #e5f7ff;
}


@media screen and (max-width: 768px) {
    .chat-container {
        max-width: 90%;
    }
    .messages {
        height: 200px;
    }
}